[2017-10-11 18:59] FreifunkUFO opened #2 "add a link to a logfile when "requested image is too big..""
if this occures:
requested image is too big for requested target. retry with less packages

some more details would be nice on that situation..
f.i. a link to the logfile

[2017-10-11 19:03] FreifunkUFO opened #3 "building of factory.bin"
at the moment there are only sysupgrade images.
sometimes a factory.bin would be nice.

[2017-10-12 09:29] ilario commented on #3
I would go for:
if `-factory.bin` has been created, provide only `-factory.bin` image (ignore sysupgrade file);
else provide `-sysupgrade.bin`

[2017-10-12 09:43] aparcar commented on #3
why ignore sysupgrade?

[2017-10-12 11:37] ilario commented on #3
Correct me if I'm wrong:

* factory images can be used in all the occasions where sysupgrade images can be used
* sysupgrade images can not be used in all the occasions where factory images can be used

For example:

* for flashing from original interface: factory can be used
* for flashing from TFTP: factory can be used
* for flashing from serial: factory can be used
* for flashing from LEDE/Open

[2017-10-12 12:29] aparcar commented on #3
@dangowrt opinions?

[2017-10-12 13:19] dangowrt commented on #3
This is only true on some devices and a pure coincidence. Some vendors choose to use U-Boot's uImage format also as their firmware image format, some others don't. In the likely case of a vendor choosing to add a custom header or the like, the factory image then cannot be used for sysupgrade.
Also note that for those factory images which are accepted for sysupgrade keeping the configuration fails

[2017-10-12 17:01] aparcar commented on #2
fixed in 15995b4

[2017-10-12 17:01] #2 closed, assigned to nobody

[2017-10-12 17:02] aparcar commented on #3
this depends on https://github.com/aparcar/gsoc17-attended-sysupgrade/issues/47

[2017-10-12 17:24] ilario commented on #3
Ok, I chose a bad phrasing on that line, let's say *for flashing from LEDE/OpenWrt/LibreMesh interface: if sysupgrade can be used, also factory can.*

Uh! I had no idea of this...
This sounds like a real issue for us, even more for attended-sysupgrade.

Considering this mess, I acknowledge that there's no way to avoid presenting the whole list of useless stuff to the end user :/

[2017-10-12 17:34] aparcar commented on #3
I think the client-side has to do some work on that. Likely most regular users use plastic router dissolving the need of distinction between ext4 and squash. The use of factory and sysupgrade should be easily understandable. (factory -> first installation, sysupgrade -> upgrading the system)

[2017-10-12 17:42] dangowrt commented on #3
Also on plastic routers (ie. devices with small NOR flash) people may choose between a single read-write JFFS2 filesystem and read-only squashfs + JFFS2-overlay.
Similarly, on NAND devices user may choose between a single UBIFS and squashfs + UBIFS-overlay.
On x86 (and potentially also MMC targets) between ext4 and squashfs + {f2fs OR ext4}-overlay.

[2017-10-12 17:47] aparcar commented on #3
The idea of creating jefe.tk was to improve the experience for regular non-power users, always providing the most casual use-case as default. I'd really like to support both, advanced and regular users, however, keep the user interface simple.

[2017-10-12 17:53] aparcar opened #4 "create advanced view"
only show simple overview as default, special requirements (build log, signature, package edit) only in a "advanced view"

[2017-10-12 20:57] ilario commented on #4
Or a "show all" button opening the full list of files, while by default suggesting just the main installation file (related to #3).

[2017-10-13 14:41] FreifunkUFO opened #5 "fix the link to logfile when "could not find package..""
a link is existing, but defect URL

[2017-10-13 15:06] FreifunkUFO opened #6 "de-select packages"
in meshkit (and imagebuilder) there is the possibility to mark packages as "not to install" with a "minus"
this is sometimes important to get rid of unwanted packages, which are in the dependecies of other, needed packages.

for instance: i want to have libremesh (package lime-full) without "lime-proto-wan" and "lime-hwd-openwrt-wan" to avoid the usage of dhcp-client on wan-interface.

lime-full
-

[2017-10-13 15:11] FreifunkUFO opened #7 "check the default settings for ppp and usb on ubnt"
when trying jefe f.i. for "Ubiquity Loco" there are packages for ppp and usb.
where does it come from? these devices dont habe USB

[2017-10-14 13:57] aparcar commented on #5
could you please provide used target subtarget combo?

[2017-10-14 14:07] aparcar commented on #7
thank you I'll check that

[2017-10-14 14:10] aparcar commented on #6
please see this thread. https://github.com/libremesh/lime-packages/issues/175
force unloading of dependencies look more like bad set dependencies.
jefe will only install packages in the list and it dependencies

[2017-10-16 15:15] FreifunkUFO commented on #5
it seems to be on ALL target subtarget combos.

also see https://github.com/aparcar/jefe/commit/dafb152e861f08d425cf6d6a802544219df1f69c about deleting the link to the log..

[2017-10-16 15:34] aparcar commented on #5
so the logfile is only for the imagebuilder, the internal server log is not represented there.
the commit you mentioned above should hide the build log on any location the imagebuilder wasn't even started due to a bad request

[2017-10-16 16:03] aparcar commented on #7
using `make info`
[code]

The build-server only parses the output of the imagebuilders, is it possible the imagebuilder is setup bad? @dangowrt

Removing the packages from the "Edit packages" section results in an image without the packages :)

[2017-10-16 17:39] aparcar commented on #7
@FreifunkUFO this seems to be a LEDE bug, please report it here: https://bugs.lede-project.org/

[2017-10-16 17:39] #7 closed, assigned to nobody

[2017-10-16 17:39] dangowrt commented on #7
https://github.com/lede-project/source/blob/master/target/linux/ar71xx/image/ubnt.mk#L40

[2017-10-16 20:52] FreifunkUFO commented on #7
seems to be configured by @blogic when reordering
https://github.com/lede-project/source/commit/636089ead6864364798ac988299429d171051c0e#diff-8fd5a4a2c103925f08c02265642dc96e

[2017-10-16 22:06] FreifunkUFO opened #8 "lime: wpad-mini vs. wpad-mesh"
when using the 11s flavour, an other wpad* is needed. the needed package is added, but wpad-mini isnt needed anymore

![teje-bug](https://user-images.githubusercontent.com/2579265/31637352-9f222aae-b2ce-11e7-845a-12e7b30f02e0.png)

[2017-10-16 22:06] FreifunkUFO commented on #8
the extra package: https://github.com/libremesh/network-profiles/blob/master/libremesh/encrypt-11s/PACKAGES

the imagebuilder will get from jefe:

Packages: base-files busybox dropbear firewall fstools ip6tables iptables kmod-ath9k kmod-gpio-button-hotplug kmod-usb-core kmod-usb-ledtrig-usbport kmod-usb2 libc libgcc lime-full logd mtd netifd odhcp6c odhcpd opkg ppp ppp-mod-pppoe swconfig uboot-env

[2017-10-16 22:37] aparcar commented on #8
does the lime-sdk/cooker behave the same way? it's possible to remove `wpad-mini` via *Edit packages*, tho it's not done automatically

[2017-10-16 23:19] ilario commented on #8
related discussion on libremesh/lime-packages#208

[2017-10-17 11:31] FreifunkUFO commented on #8
problem on jefe.tk: the additional packages are not shown to the user.

[2017-10-17 11:44] aparcar commented on #8
yes, currently the packages are processed on the server side. I don't like that solution and will see if I can do something about it. however, a clean solution would be to auto remove the wpad-mini and this isn't supported for now with the PACKAGES concept

[2017-10-18 22:22] #3 closed, assigned to nobody

[2017-10-18 22:23] #4 closed, assigned to nobody

[2017-10-23 08:11] FreifunkUFO opened #9 "rename advanced view"
when clicking "Edit Packages" there is a text shown: "Extra files".

that should be renamed, because there are NO "extra files", but only an "advanced view" or something like that..

[2017-10-23 08:11] FreifunkUFO commented on #9
see also:
https://github.com/aparcar/jefe/issues/4

[2017-10-23 09:10] #9 closed, assigned to nobody

[2017-10-25 14:49] FreifunkUFO opened #10 "LEDE with SNAPSHOT is missing"
i cant build LEDE Snapshot Firmware any more.

[2017-10-25 15:04] FreifunkUFO commented on #10
screenshot

![freifunk-jeke](https://user-images.githubusercontent.com/2579265/32006248-8a5ec4ae-b9a6-11e7-9a57-43e3fc1dc308.jpg)

[2017-10-25 16:20] aparcar commented on #10
see https://github.com/aparcar/gsoc17-attended-sysupgrade/issues/57

[2017-10-25 16:20] #10 closed, assigned to nobody

[2017-10-25 16:21] ilario commented on #10
Maybe related to libremesh/lime-sdk#2 ?

[2017-10-25 18:18] dangowrt opened #11 "error messages of previous submissions remain visible"
An error message triggered by a previous attempt (e.g. "could not find package 'xxx' for requested target") remains visible for ever.
Fix: Everytime the 'Create Image...' button is being pressed, all previous error messages should by cleared.

[2017-10-25 18:31] dangowrt commented on #11
... same for previous advanced results box with the list of files which isn't cleared on subsequent presses of the 'Create image...' button.

[2017-10-25 19:03] dangowrt opened #12 "use 'hand holding pen' icon for signature rather than key"
in the list of previously created images the 'key' symbol for the signature file is a bit confusing imho.
i thought of something like 'hand singing official paper' or the classic 'document with seal' symbol often used for cryptographic certificates would be better. or maybe a stamp?

weird that there is no unicode symbol for that. the closest i could find are
# 🖋
# 📋

[2017-10-26 10:05] aparcar commented on #12
So far I used octicons instead of emojis, maybe you can find something appealing here?

https://octicons.github.com/

[2017-10-30 13:47] FreifunkUFO opened #13 "a new name for this project"
the name "imagebuilder" is already existing for Openwrt/LEDE. Using the same name would be confusing. (see discussion on lime-dev mailinglist).
also the URLs should change, when a new name was found.

[2017-10-30 13:48] FreifunkUFO commented on #13
its a blocker for https://github.com/libremesh/lime-sdk/issues/32

[2017-10-31 12:11] FreifunkUFO opened #14 "LEDE with SNAPSHOT - devices are missing"
on https://jefe.tk/imagebuilder and https://betaupdate.libremesh.org/imagebuilder the LEDE snapshot has problems:
there seems to be no devices inside.. if when typing "1043" there is no device found.

[2017-10-31 12:32] aparcar commented on #14
Due to some resets yesterday, servery is currently syncing and should work again in ~20 minutes

[2017-10-31 12:32] #14 closed, assigned to nobody

[2017-10-31 12:33] aparcar commented on #13
I like "imagebuilder online". It's generic enough to fit for any distribution. Basically that's all it is, a web interface that sets up imagebuilders on a server and creates the image for you.

[2017-10-31 12:35] #5 closed, assigned to nobody

[2017-10-31 12:35] #6 closed, assigned to nobody

[2017-10-31 16:11] aparcar commented on #13
@ilario

[2017-10-31 17:53] ilario commented on #13
Uh!
Let's think as a possible subdomain for LibreMesh/LEDE/OpenWrt websites which could host the software.
From that we can fiddle around for finding the software name.
Brainstorming:

On the concept of making/building

1. builder.something.org
1. onlinebuilder.something.org
1. build.something.org
1. imagebuilder.something.org
1. maker.something.org
1. make.something.org
1. generator.something.org

[2017-10-31 20:57] FreifunkUFO commented on #13
or something with "attended" (according to neighbor-project "attended-sysupgrade"
30. attended.something.org
31. attendedfirmware.something.org

[2017-10-31 21:07] FreifunkUFO commented on #13
@aparcar "online" is not nice, f.i. because project also could stay in an offline-mesh to serve new images. the main difference to the nowadays existing "imagebuilder" is, that this project is a **webinterface** (to use the imagebuilder simplier than command-line-wise).
32. web-imagebuilder.something.org
is jefe also running on openwrt/lede and with luci-interface? so we could call it luci-imagebu

[2017-10-31 21:31] aparcar commented on #13
Tempting idea to build a luci app ;)
I like tailor.something. upgrade.libremesh.org for the server backend?

[2017-10-31 22:59] ilario commented on #13
More ideas, on food (the concept here is that you can assemble your images as you prefer, like a pizza):

33. pizza.something.org
1. pizzadelivery.something.org (these two were from @dangowrt on the lime-dev list)
1. freepizza.something.org
1. kebab.something.org
1. icecreams.something.org

Some on the cocktails naming of the OpenWrt releases:

38. brewery.something.org (sounds quite similar to th

[2017-10-31 23:02] FreifunkUFO commented on #13
oh now i see, this is just the web-client. server is atm the "server" part of attended-sysupgrade.
54. attended-sysupgrade-tailor...

[2017-10-31 23:09] nicopace commented on #13
and why not chef? i really believe that chef is a nice name, and replacing the old with the new is a sane process...

[2017-11-01 01:16] FreifunkUFO opened #16 "model search: also search for target/subtarget/profile"
when i search for "x86" there is no answer. atm i have to search for "generic".

[2017-11-01 01:34] FreifunkUFO commented on #16
its done by the server: https://github.com/aparcar/gsoc17-attended-sysupgrade/blob/master/utils/database.py#L428

[2017-11-01 10:26] aparcar commented on #13
@nicopace on every chef related website it say "chef is outdated". As well, I'm not intending to add a login system or public ssh key storage. Past users would wonder where to find these features. Third, chef.io exists.

[2017-11-01 13:03] aparcar opened #17 "Merge in upgrade-server repo"
Currently the upgrade-server repo contains "jefe" as well[1]. Would you suggest to merge the project in the upgrade-server or keep it separated?

@FreifunkUFO @ilario @dangowrt

[1]: http://ledeupdate.planetexpress.cc/imagebuilder

[2017-11-02 11:47] aparcar commented on #17
as posted in the README.md

[2017-11-02 11:47] #17 closed, assigned to nobody

[2017-11-02 12:03] aparcar commented on #16
https://github.com/aparcar/gsoc17-attended-sysupgrade/commit/68044cf35e6299f6c183dcd522e35695314c10a7 fixed here

[2017-11-02 12:03] #16 closed, assigned to aparcar

[2017-11-02 12:05] aparcar commented on #8
this issue is out of scope for this project :(

[2017-11-02 12:05] #8 closed, assigned to nobody

[2017-11-02 12:10] aparcar commented on #11
this was solved a while ago

[2017-11-02 12:10] #11 closed, assigned to nobody

[2017-11-02 12:14] aparcar commented on #12
switched to https://octicons.github.com/icon/verified/

[2017-11-02 12:14] #12 closed, assigned to nobody

[2017-11-02 19:48] nicopace commented on #13
@aparcar outdated doesn't mean that is dead.

The features that you don't plan to add may be added by someone else as optional features (plugins), and chef.io don't see why it is relevant.

On the other hand, chef is recognized by the AlterMundi's community, it is related with the 'cooking' term that lime-sdk is using, and it is understandable by everyone (chef is kind of a multilingual word).

Wo

[2017-11-02 21:15] aparcar commented on #13
@nicopace okay sound good to me. I'll shut down this repository and create a new one. Please create chef.libremesh.org
@ilario @FreifunkUFO are you two okay with this decision?

[2017-11-02 21:43] ilario commented on #13
I'm ok with the _chef_ name :)
The repository, I think you don't need to delete it, I think you can rename it, this way Github will redirect requests to the new one.

[2017-11-02 22:00] #13 closed, assigned to nobody

[2017-11-03 11:05] FreifunkUFO commented on #13
you are too fast when waiting for feedback

[2017-11-03 11:11] FreifunkUFO commented on #17
no-one was answering yet.

which README.md do you mean?

[2017-11-03 11:17] FreifunkUFO commented on #8
so what does it mean? problem is still existing. or do you want to delete libremesh as a supported "distribution"?

[2017-11-03 12:48] aparcar commented on #13
@FreifunkUFO sorry, hopefully you're okay with the decision of "chef"

[2017-11-03 12:49] aparcar commented on #17
the chef readme, however I just decided to keep things separated for the moment.

[2017-11-03 12:54] aparcar commented on #8
@FreifunkUFO problem still exists but it's not a problem of _chef_. Using the official _lime-sdk_ results in an image with both `wpad-mesh` and `wpad-mini` installed. The problem are thedependencies/flavors that should be solved within LibreMesh and not individually by _chef_.

[2017-11-05 00:28] aparcar opened #18 "packageinstall via checkbox"
add popular (or soon popular) packages via a checkbox should be supported

- luci
- luci-app-attendedsysupgrade
- what_else?

[2017-11-07 23:08] ilario commented on #8
Can anyone open an issue on this on the correct repository? (lime-sdk?)

[2017-11-08 10:50] aparcar commented on #8
@FreifunkUFO would you mind?

[2017-11-12 12:38] ilario opened #19 "qqq language files, translations via TranslateWiki and localization of web ui in the resulting firmware"
This discussion started on libremesh/alterchef#14 by @patogit I copy it here:

_Ok. The new Chef seems to be monolingual (English), with all the interface messages hard-coded in chef.html. Do you have any ideas about how we can internationalize this, in order to make easy translation possible? The first ideas that come to my mind are:_

_Find a way to replace the interface strings in the HTML file

[2017-11-12 13:16] aparcar commented on #19
@ilario @patogit I'll check out the lime-app approach, I'm not up to write anything in PHP as it would require a different setup of the server, currently only Javascript.

The second point could be rather challenging, but chef can auto select a some additional packages. I'll look into that

[2017-11-12 14:43] patogit commented on #19
@aparcar the PHP parser-generator would only run on TranslateWiki.net. I've asked TW.net for examples of the parser-generators already in use, so that we can look at the code and think about how much effort it would require to write another. I've also asked them for ideas about how to internationalize the code. If you're curious, [here's the thread with them](https://translatewiki.net/wiki/Thread:

[2017-11-12 15:12] aparcar commented on #19
@patogit thank you, keep me updated. I've never done any translations related stuff. We could split the task. I'll manage to build images in the selected language, you manage to translate the page?

[2017-11-12 15:14] aparcar commented on #19
@FreifunkUFO advises?

[2017-11-13 22:58] patogit commented on #19
@aparcar, I'm coordinating translation for the LibreRouter project, both software interfaces and documentation. I'm happy to take on the challenge of internationalizing the interface for Chef, but since it requires coding that I have little experience with, I'll look around for other people who have more coding skill than I do. @nicopace might have some ideas about this too.

As for building image

[2017-11-14 00:07] aparcar commented on #19
I'm currently not using jQuery in Chef but plain JavaScript. I'd rather keep it that way - if possible.

Some quick searches resulted in https://github.com/eligrey/l10n.js/ - maybe thats already enough?

Depending on the scope of Chef the complexity shouldn't increase at all or raise to a full config editor. That depends somewhat of what the community wants.

[2017-11-14 13:13] FreifunkUFO commented on #19
i think there is no need for a centralized, worldwide translation for this "chef":
there are less than 10 words to translate!

atm no description and no help is existing, also the word "firmware" is not appearing anywhere, no description how to deal with the resulting "image" and some words to missunderstandings (f.i. image https://en.wikipedia.org/wiki/Image )

so i expect that mesh-communities w

[2017-11-14 17:50] nicopace commented on #19
I understand your point of view @FreifunkUFO.
The good thing about making it translatable is that no matter if it has 1 or 10 words, someone that is not an english speaker will not be able to use the interface (imagine a first nation community from Mexico that only speaks Zapoteco).
We want to get to everyone... and for that, we need to have everything internationalized.

In relation to the rtansl

[2017-11-15 18:53] markbirss commented on #18
Here are some suggestions for USB Lan and USB Wifi Adaptors for Single Board Computer Builds ie
needed to do mesh since on-board wifi either not supported or cant do mesh

Raspberry Pi (bcm2708/bcm2709/bcm2710)
and
Orange Pi - Xunlong Orange Pi Plus

USB Wifi
* kmod-rt73-usb
* kmod-rt2800-lib
* kmod-rt2800-usb
* kmod-rt2x00-lib
* kmod-rt2x00-usb

USB Lan
* kmod-usb-net-mcs7830
* kmod-usb-net-asix

[2017-11-16 14:37] aparcar commented on #18
@dangowrt should I create a list of suggestions that automatically pops up when a fitting target/subtarget is selected?

[2017-11-24 19:25] nicopace opened #22 "resets router option when 'advanced mode' choosen"
https://youtu.be/sMGxkHVXsVA

[2017-11-29 09:43] FreifunkUFO commented on #19
translation is in progress: https://github.com/libremesh/chef/blob/master/i10n/en.json

@aparcar is now asking: who wants to help with more languages/translations?

[2017-11-29 09:48] FreifunkUFO opened #23 "delete some files: parser.py and tables.sql"
both files are not needed for this webui. there is no need for python on that webservice

[2017-11-29 10:28] FreifunkUFO opened #24 "make some tickets to support freifunk"
@aparcar was asking about supporting freifunk mesh firmwares. and their packagelists.
for these many freifunk networks we need many presets, packagelists, "distributions" (fi gluon and berlin are built on LEDE, but with big patch-lists)  and/or firmwares.
so we would need many tickets, at least one for each freifunk-approach

[2017-11-29 10:31] ilario commented on #19
- [x] italian: me @G10h4ck @gabri94 @digitigrafo @openspace42
- [ ] spanish: @altergui @gmarcos87 @nicoechaniz @nicopace @zenem @pablocastellano
- [ ] catalan: @p4u @rogerpueyo
- [ ] german: @FreifunkUFO @aparcar
- [ ] portuguese: @brunovianna
- [ ] valencian: @amuuza
anyone for other widely used languages? (French, Arabic, Mandarin, Russian, Hindi, Bengali, Japanese...)

[2017-11-29 11:00] #23 closed, assigned to nobody

[2017-11-29 11:00] aparcar commented on #23
thanks, initially I had a different approach

[2017-11-29 11:03] aparcar commented on #24
To support the different patched "distributions" the upgrade server need's all the ImageBuilders. We need to ask the FF-communities to create them as well and store them in the same structure as on official servers

@mwarning

[2017-11-29 12:22] ilario commented on #19
Italian: done in #25

[2017-11-29 13:28] amuuza commented on #19
Happy to help.
Wow, even Valencian : o
I guess the more the better.
If it's ok with you, I will wait for @p4u or @rogerpueyo translation and then I will check if any change is needed for Valencian : )

[2017-11-30 14:39] FreifunkUFO commented on #24
at least some freifunk distributions are also working with standard-lede-imagebuilder.. but mostly there are patched. f.i. atm  freifunk-meshkit in leipzig has imagebuilder-builds with disabled ksymbols (to support common hardware, like cpe510).
you could try it with http://gadow.freifunk.net:8004/srv2/lede/lede-20171030/bin/targets/ar71xx/generic/lede-imagebuilder-SNAPSHOT-ar71xx-generic.Linux-x8

[2017-12-03 01:55] ilario opened #26 ""Unknown package np-..." error for first compilation and subsequent errors"
This is a followup from the lime-users mailing list [here](https://lists.libremesh.org/pipermail/lime-users/2017-December/001022.html) for an issue described [here](https://wiki.bologna.ninux.org/mediawiki/index.php/Errore_profilo_LibreMesh_encrypt_nano) and [here](https://wiki.bologna.ninux.org/mediawiki/index.php/Errore_profilo_LibreMesh_encrypt).

I tried to reproduce and I also think that ther

[2017-12-03 10:58] aparcar commented on #26
I recently changed from network-profiles based on a folder to the network-profiles based on packages. That leads to images without the network-profile in name. To see if the package is installed please check the resulting `.manifest` in advanced view.

Could you please write a specific device where the image appears? I could not reproduce the error.

[2017-12-03 11:50] brunovianna commented on #26
I tried to cook a tl-wa801nd-v1 with JaexaPora network profile, lime without web interace and got an error. Here is the link to the log
https://ledeupdate.planetexpress.cc/static/faillogs/request-b4e7c6e1ef26.log

[2017-12-06 22:19] aparcar commented on #26
@brunovianna  @ilario The issue was fixed in https://github.com/aparcar/attendedsysupgrade-server/commit/6276bf1ad8acc3b58a4fc24286840cba6ea4bfa1 please check again

[2017-12-17 14:25] digitigrafo opened #27 "Console error on firefox 57"
In console I have 2 error when i load the chef page:

1) TypeError: document.request_form.distro[document.request_form.distro.selectedIndex] is undefined       chef.js:282:6
distro_changed
https://chef.libremesh.org/chef.js:282:6
toggle_advanced_view
https://chef.libremesh.org/chef.js:364:2
bootstrap
https://chef.libremesh.org/chef.js:376:2

2) Errore interpretazione XML: errore di sintassi
Indiri

[2017-12-17 14:31] digitigrafo opened #28 "impossible build image for ubiquiti loco xw"
say: image building.

In console of browser (firefox 57):

chef.js:464:4
GETXHR
https://ledeupdate.planetexpress.cc/api/build-request/e83cb1e07ec8
[HTTP/1.1 202 ACCEPTED 45ms]
building
chef.js:464:4
GETXHR
https://ledeupdate.planetexpress.cc/api/build-request/e83cb1e07ec8
[HTTP/1.1 202 ACCEPTED 42ms]
....

for infinite time.
![istantanea_2017-12-17_15-30-28](https://user-images.githubusercontent.c

[2017-12-17 16:45] aparcar commented on #28
@digitigrafo I recently tried some new stuff and seems to cause some problems. I reset parts of the database and build the image, please try yourself.
https://chef.libremesh.org/#2478b9c37ce2b52

[2017-12-17 18:52] #26 closed, assigned to nobody

[2017-12-23 11:26] digitigrafo commented on #28
yes! thanks. now is working.

[2017-12-23 11:26] #28 closed, assigned to aparcar

[2017-12-23 11:34] digitigrafo commented on #27
Hi, I see that now this two errors are fixed

[2017-12-23 11:34] #27 closed, assigned to nobody

[2017-12-23 13:33] aparcar commented on #24
Specially patched imagebuilders are supported as long as they follow the official naming.
An example can be found [here](https://chef.libremesh.org/#87467e0d4ab5607)

For snapshots is therefore important to disable the following two options:
[code]

@mwarning @2tata if possible please provide patched imagebuilders in the official structure to enable custom image building via chef.

[2017-12-28 13:53] FreifunkUFO commented on #24
so, we would need at least one ticket for each freifunk-firmware-distribution? (weimar, berlin, leipzig, jena, bielefeld, gluon) details should be discussed there.

we could start realization with firmware which is able to use unpatched openwrt/lede and then have a look about their configuration (which one are zeroconfig firmwares?). and ask other firmwares developers about their imagebuilder and

[2017-12-28 14:09] FreifunkUFO opened #29 "support freifunk gluon"
chef should support freifunk-gluon.
https://github.com/freifunk-gluon

the firmware is zeroconfig capable, openwrt/lede has big patchsets (soometimes different on each community). each community has (at least) different wifi-settings, so these "city" could be a "network-profile" or "flavour" (similiar to libremesh)

[2017-12-28 14:11] FreifunkUFO commented on #29
see gluon ticket about imagebuilder
https://github.com/freifunk-gluon/gluon/issues/649

[2017-12-28 14:16] FreifunkUFO opened #30 "support freifunk leipzig"
freifunk leipzig is using unpatched meshkit on unpatched (sometimes self-built) imagebuilder.
meshkit puts f.i. hostname and ip-adress into the firmware (not zeroconfig!)
usage without meshkit (take lede, install freifunk-packages) also possible: then you have to use the luci-app-meshwizard for main (only olsr) config of the node
mesh-protocols: 2x batman-adv (on wifi-vlan 12 and 61) and olsr (on

[2017-12-28 14:22] FreifunkUFO commented on #30
@aparcar startet tests on https://ledeupdate.planetexpress.cc/

in the build-log you can see the used buildroots ("ar71xx-lede-20171030") so this should also be selectable inside chef.

my first test gave me a firmware without any mesh routing protocol  (see https://ledeupdate.planetexpress.cc/json/ff-leipzig/snapshot/ar71xx/generic/tl-wdr3600-v1/vanilla/build-8462e4f5f4163d2.log )

the distributi

[2017-12-28 14:23] FreifunkUFO commented on #24
i started with
leipzig https://github.com/libremesh/chef/issues/30
and
gluon https://github.com/libremesh/chef/issues/29
and
berlin https://github.com/libremesh/chef/issues/31

[2017-12-28 14:24] FreifunkUFO commented on #8
@aparcar why is "this issue .. out of scope for this project :("?
otherwise please reopen ticket.
see also profile-changes https://github.com/libremesh/network-profiles/commit/5ab8abfc32f09b7f3ebfa81db2a1d01bc5b95c29

[2017-12-28 14:28] FreifunkUFO opened #31 "support freifunk berlin"
berlin is using self-build firmware with large patchsets, own openwrt/lede-packages and own webui-wizard for configuration.

see https://github.com/freifunk-berlin/firmware and packages are at https://github.com/freifunk-berlin/firmware-packages

[2017-12-28 14:35] FreifunkUFO commented on #30
meshkit is here: https://github.com/freifunk/meshkit

the community cities (profiles) are here: https://github.com/openwrt/luci/tree/master/contrib/package/community-profiles/files/etc/config

and local community files (f.i. webui-headerimage and postinstall-scripts) are here: https://github.com/freifunk/meshkit-community_files

[2017-12-28 19:52] aparcar commented on #29
@NeoRaider interested?

[2017-12-28 19:58] aparcar commented on #24
should we close this "meta issue" and focus on the specific ones?

[2017-12-28 20:25] aparcar commented on #31
@andrenarchy ping

[2017-12-28 23:33] FreifunkUFO commented on #24
ticket issue was to open tickets for freifunk. there are only 3 atm. what about f.i. @mwarning or weimar or jena @egon0 ?

[2017-12-28 23:44] FreifunkUFO commented on #29
for visualisation/statistics of mesh-nodes they are using respondd. we might want to include that?
my tries, i was failing with that, but many links, see https://plan.leipzig.freifunk.net/issues/397

[2017-12-29 22:24] FreifunkUFO opened #32 "support freifunk bielefeld"
bielefeld is using an own freifunk-firmware (of course openwrt/lede)
https://github.com/freifunk-bielefeld/firmware
some special packages.. two patchset-directories..

[2017-12-29 22:25] FreifunkUFO commented on #32
ping @mwarning, what do you think. would it be possible?

https://github.com/libremesh/chef/issues/24

[2017-12-31 14:43] andrenarchy commented on #31
Also looping in @SvenRoederer and @booo from Berlin. :)

[2018-01-03 11:07] mtippmann commented on #24
@FreifunkUFO maybe it's easier to implement a configuration file that contains all required community-specific urls so every community can setup their own instance of chef/update-server? In Weimar we'll probably need custom fields (nodenumber hack) and we also can't use the generic imagebuilder/sdk at the moment - so I don't think it's worthwhile to add us to the list at the moment.

[2018-01-07 02:05] egon0 commented on #24
Jena will use plain libremesh with a network-profile soon, no need to do anything to support the old monkeypatched legacy Firmware.

[2018-01-07 21:48] mwarning commented on #32
not sure, I have to try. I was sick over last week.

[2018-01-08 11:36] ilario opened #33 "Migration to OpenWrt"
See libremesh/lime-sdk#48
LEDE is still mentioned in this repository here (just one file):
https://github.com/libremesh/chef/search?q=lede

[2018-01-14 18:50] ghost opened #34 "easy way to add custom /etc/config files"
Would like the ability to upload custom /etc/config files to be included in the resulting firmware binary image

[2018-01-15 13:04] aparcar commented on #34
Yes. Create a network profile and merge it into the official libre mesh repo. The server will build packages put of it which are installable.

A different approach to allow per image different settings exceeds the current scope of the image server. Hard to manage versions and outdated images

[2018-01-15 14:00] ilario commented on #34
You can take as an example the other network-profiles, they all have files in /etc/config, doesn matter if it's lime-defaults or another file.

[2018-01-15 14:42] aparcar commented on #34
the created packages are [here](http://repo.libremesh.org/network-profiles/), you could even install multible of them with different ssh-keys or whatever you need

[2018-01-16 01:14] #33 closed, assigned to nobody

[2018-01-20 15:12] #22 closed, assigned to aparcar

[2018-01-26 14:53] CodeFetch commented on #29
Chef does not make sense for Freifunk usage at the moment.  Gluon is a general framework for building OpenWrt/LEDE based mesh firmware. Freifunk is decentralised. Thus every community (e.g. City/District) builds their own custom firmware with their own patches and packages along with running their own supernode infrastructure to offer e.g. VPN services to avoid legal troubles. They build the firmw

[2018-02-13 19:46] patogit commented on #19
Maybe this week we can create a tw-translate branch and give direct push commit access for that branch to @translatewiki ... this will enable more people to translate via the TranslateWiki.net interface.

Any progress on making the firmware image relate to the chef interface language? (So that someone who chooses Spanish in the Chef interface and then flashes that image on their router gets a Span

[2018-02-13 21:59] rogerpueyo opened #37 ""tr-queue-position" can't be naturally translated to Catalan"
The string "tr-queue-position", which in English is translated as "You are in build queue position " (e.g. "You are in build queue position 123"), in Catalan would be "Us trobeu a la posició 123 de la cua de compilació". I can't find an equivalent sentence that has the number at the very end and sounds natural.

Can the "tr-queue-position" be modified to include the queue position inside the strin

[2018-02-13 22:01] aparcar commented on #37
good question, currently I'm researching if there's a better way for i18n. Using `po` files could be a better approach and by that supporting `%s` stuff as well.

[2018-02-16 19:23] patogit commented on #19
@aparcar, what branch do you want to receive the pull requests for translations from TranslateWiki? In other words, what's the development branch?

Edit: responded in a chat: master.

[2018-02-17 01:41] patogit commented on #19
@aparcar asked about a JS library supporting .po files. I found a few options, though PO is not a very modern format (there are other formats that can make programming easier) and I don't know enough about JS or chef to understand what library is the most appropriate.

**SIMPLER LIBRARIES**

1. https://github.com/messageformat/Jed
2. https://github.com/adrienrn/jsgettext
3. https://github.com/sign

[2018-02-18 00:00] gmarcos87 commented on #19
Hi @patogit , I create a pull request (https://github.com/libremesh/chef/pull/38) that incorporates the qqq.json file with the link to the images.
In this case it is always the same image because the chef has only one screen and it is very simple.
@aparcar is already using a translation system, which loads the data from multiple json files (similar to lime-app). I don't think you need to change an

[2018-02-18 00:57] ghost commented on #34
Thanks for your responses!

[2018-02-18 00:57] #34 closed, assigned to nobody

[2018-02-18 02:47] ghost opened #39 "hyperlink to network profile not working"
according to https://github.com/libremesh/chef/blob/master/chef.html#L97 there is a hyperlink to https://github.com/libremesh/network-profiles/

I think this is a good idea but for some reason neither firefox nor chrome is not rendering the hyperlink

![2018-02-18-034650_532x136_scrot](https://user-images.githubusercontent.com/2603422/36347703-6c85a39a-145e-11e8-840e-b3e27c5864e6.png)

[2018-02-18 02:48] ghost opened #40 "chrome/chromium: bad rendering of advanced checkbox"
![2018-02-18-034809_410x228_scrot](https://user-images.githubusercontent.com/2603422/36347711-8c312eb2-145e-11e8-9775-dcfa0f1e6848.png)

[2018-02-18 15:08] aparcar commented on #40
We could move the *Advanced* button to the navbar, currently the checkbox is kind a improvised without using bootstrap correctly.

@pedro-nonfree are you up for a PR?

[2018-02-18 15:10] aparcar commented on #39
Thanks, I think the link is removed by the translation system. I think we need to add a span inside the href and move the translation id away from the label to the span (inside the href).

@pedro-nonfree are you up for an PR?

[2018-02-18 15:11] aparcar commented on #37
I could implement the %s formating myself, however as the current version of image server does not support queue position estimation (just yet) you can leave it to something translated to "You're in building queue" without any number.

[2018-02-18 18:50] patogit commented on #19
@gmarcos87 great that you got a screenshot in there -- message documentation helps translation. Another option is to put a link to chef.libremesh.org in the message documentation so that a translator can go to the site, see the current version, and interact with it -- this might be even more useful than a link to a screenshot, since the screenshot might become obsolete as chef changes.

[2018-02-20 12:29] FreifunkUFO commented on #30
with freifunk-meshkit these community files are given to the imagebuilder-process by parameter "FILES". that should be supported by image server and chef.
thats also the current way to transport node-specific settings from the imagebuilder-webinterface (meshkit) to the device (f.i. /etc/config/freifunk with Mesh- IPv4 address and LAN/WAN/WLAN-modifications). when flashing there is a package "meshw

[2018-02-20 13:49] aparcar commented on #30
@FreifunkUFO could you consider using packages as well? Offering raw files will lead to rebuilding equal images which is out of the scope of the image builder. The idea is to cache created images

[2018-03-18 13:16] redscotina opened #44 "Build error for Openwrt Netgear R6220 snapshot"
[code]

[2018-03-20 22:50] aparcar commented on #44
Should be fixed, thanks for reporting, please close if fixed

[2018-03-20 23:05] #39 closed, assigned to nobody

[2018-03-21 23:10] #40 closed, assigned to nobody

[2018-03-21 23:12] aparcar commented on #32
@mwarning could you please provide the imagebuilders of your current release?

[2018-03-21 23:12] aparcar commented on #31
@andrenarchy could you please provide the imagebuilders of your current release?

[2018-03-21 23:13] aparcar commented on #19
I think this can be closed due to @gmarcos87 work.

[2018-03-21 23:13] #19 closed, assigned to aparcar

[2018-03-22 09:34] SvenRoederer commented on #31
they can be found in https://buildbot.berlin.freifunk.net/buildbot/stable/1.0.0/

[2018-05-26 11:15] patogit opened #54 "icon for language selector"
Putting a language selector icon, like the one on www.wikipedia.org... but that one is in a sprite, and I can't find the file.

[2018-06-10 17:46] patogit commented on #54
here are two links to the file: [first](data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2218%22%20height=%2218%22%20viewBox=%220%200%2024%2024%22%3E%20%3Cpath%20fill=%22%2372777d%22%20d=%22M13%2019l.8-3h5.3l.9%203h2.2L18%206h-3l-4.2%2013H13zm3.5-11l2%206h-4l2-6zM5%204l.938%201.906H1V8h1.594C3.194%209.8%204%2011.206%205%2012.406c-1.1.7-4.313%201.781-4.313%201.781L2%2016s

[2018-07-15 12:16] Camis opened #57 "OpenWRT@ TP-Link WR-741ND V4 - Not cook image"
I'm waiting 12 hours, but image was not ready...

https://ledeupdate.planetexpress.cc/api/build-request/ce3f3b88187b
**queue: 1337**

https://ledeupdate.planetexpress.cc/api/build-request/bf89ae26b018
**queue: 1337**

OpenWRT@ TP-Link WR-741ND V4

Packages:

[code]

[2018-08-01 11:16] aparcar opened #59 "Support of disro/version descriptions and aliases"
The new API offers some further information about versions and distributions, see an example below. Both should be included (if available) in the new chef design to help the user

https://as-test.stephen304.com/api/versions
https://as-test.stephen304.com/api/distros

[2018-08-01 11:27] aparcar opened #60 "Support of distro `latest`"
The new distro API now shows a `latest` field which points to the latest stable release, which should be shown per default in chef (instead of showing the alphabetically latest release)

[code]

[2018-08-06 01:51] edvm commented on #59
@aparcar working on this :+1:

[2018-08-06 03:15] aparcar commented on #59
The current API implementation returns an array, I could change that to return a dict like this
[code]

[2018-08-06 16:49] edvm commented on #59
@aparcar its fine that the API returns a list of elements, please dont change it :)

[2018-08-20 18:43] aparcar commented on #18
This is for now solved by flavors, if there is a real need for additional packages feel free to comment here and I'll reopen the issue

[2018-08-20 18:43] #18 closed, assigned to nobody

[2018-08-20 18:44] aparcar commented on #57
Hi, the worker was down and so you stayed forever in the queue, sorry about that!
Opening the requests now results in a response, see here:

[code]

[2018-08-20 18:44] #57 closed, assigned to nobody

[2018-08-20 18:44] #60 closed, assigned to edvm

[2018-08-20 18:49] aparcar commented on #54
Here is [a icon set](http://www.famfamfam.com/lab/icons/flags/) you might want to use.

[2018-08-20 18:49] #44 closed, assigned to nobody

[2018-08-20 18:49] aparcar commented on #32
@mwarning ping

[2018-08-20 19:04] mwarning commented on #32
@aparcar we still struggle to get the next release ready for the release..

[2018-09-06 15:30] pozzo-balbi opened #62 "[not a bug]dnsmasq-full"
Hi, selecting dnsmasq-full to use mwan3 leads to the following error:

Collected errors:
 * check_data_file_clashes: Package dnsmasq wants to install file /mnt/worker/worker1/imagebuilder/lede/17.01.5/ar71xx/generic/build_dir/target-mips_24kc_musl-1.1.16/root-ar71xx/etc/hotplug.d/ntp/25-dnsmasqsec
	But that file is already provided by package  * dnsmasq-full
 * check_data_file_clashes: Package dns

[2018-09-06 19:29] aparcar commented on #62
Hi @pozzo-balbi
the problem occurs as the *old* chef creates a diff between packages in the *package text area* and the default packages, while the *new* chef behaves like the official ImageBuilder, removing only packages prefixed with a `-`.

It is possible to implement the diff behavior in the new chef as well, however I though of sticking to the official one for compatibility.

An example, in *

[2018-09-06 19:44] aparcar commented on #54
There is work happening on a chef rewrite in vuejs, please check this out and reopen the issue there:
https://github.com/edvm/chef

[2018-09-06 19:50] aparcar commented on #59
The [current dev version of Chef](https://as-test.stephen304.com/chef/) already supports this,
![image](https://user-images.githubusercontent.com/16000931/45181493-543b3580-b1ba-11e8-888a-5dc4247fab7d.png)

[2018-09-06 19:50] #59 closed, assigned to edvm

[2018-09-06 19:52] aparcar commented on #31
Hi @SvenRoederer , do you mind changing the folder structure to the official format of `target/subtarget` instead of `target-subtarget`? Then it'd be compatible which the server backend

[2018-09-06 19:56] aparcar commented on #32
@mwarning any updates?

[2018-09-06 19:57] pozzo-balbi commented on #62
Yes, great!! It works!! So in the old chef I would delete "dnsmasq" and add "dnsmasq-full". In the development version I put it as follows:

and yes I can confirm it works. So maybe just add a note to this new behavior. Thanks so much for this great tool!!

[2018-09-06 19:57] #62 closed, assigned to nobody

[2018-09-06 21:27] mwarning commented on #32
this weekend

[2018-09-06 21:41] aparcar commented on #32
Please follow the official folder structure `[version]/targets/[target]/[subtarget]/` if possible :+1:

[2018-09-22 00:14] agusalex opened #63 "Language selector is broken"
![image](https://user-images.githubusercontent.com/15642727/45910879-3d642800-bde3-11e8-9387-a466e65321f3.png)
Changing language does nothing, it stays on english.

[2018-09-22 00:19] agusalex commented on #63
The issue seems to be that the method translate() cannot be found by index.html
`(index):27 Uncaught TypeError: translate is not a function
    at HTMLSelectElement.onchange ((index):27)`

[2018-09-22 08:23] aparcar commented on #63
Thanks, I'll look into that!

[2018-09-22 12:56] Roland-B opened #64 "Build issues"
Says building but never finishes. Also WRT32X snapshot build manifest failures previous to this that, that don't clear after 24hrs for  / mvebu / cortexa9 / .

Thanks.

[2018-09-23 08:10] Roland-B commented on #64
https://as-test.stephen304.com/download/faillogs/faillog-96e8f4729eba.txt
https://as-test.stephen304.com/download/faillogs/faillog-b7bba45f737e.txt

Thanks.

[2018-10-03 07:11] Roland-B commented on #64
https://as-test.stephen304.com/download/faillogs/faillog-8b81e8b31f12.txt
https://as-test.stephen304.com/download/faillogs/faillog-b7bba45f737e.txt

[2018-10-05 00:24] ghoffman9 opened #65 "snapshot for wrt32x build fail"
18.06.1 runs fine with same options, but snapshot fails on run oct 4 2018. see below
### BUILD COMMAND:

ID=5417
REQUEST_HASH=247bade0e874
SUBTARGET=cortexa9
DISTRO=openwrt
PACKAGES=wpad-mini uclient-fetch uci uboot-envtools swconfig ppp-mod-pppoe ppp opkg openssl-util odhcpd-ipv6only odhcp6c netifd mwlwifi-firmware-88w8964 mtd luci-ssl luci-app-uhttpd luci-app-statistics luci-app-sqm luci-app-nlb

[2018-10-12 17:56] aparcar commented on #64
I have to investigate a bit more as it seems to be a general problem for snapshots...
Thanks for testing and please be patient

[2018-10-13 08:32] Roland-B commented on #64
okidoke, thanks for the update.

[2018-10-18 19:56] Roland-B commented on #64
Still have issues after your update on openwrt forum. Thanks for trying though (Roland B).
https://as-test.stephen304.com/download/faillogs/faillog-8b81e8b31f12.txt

[2018-10-18 20:59] patogit commented on #54
@aparcar GitHub does not allow me to open an issue in that repo.

the icon I want to add to the language selector is available in SVG and PNG:
https://github.com/wikimedia/mediawiki-extensions-UniversalLanguageSelector/blob/master/resources/images/compact-links-trigger.svg
https://github.com/wikimedia/mediawiki-extensions-UniversalLanguageSelector/blob/master/resources/images/compact-links-trigger

[2018-10-19 11:04] aparcar commented on #54
The devs seems to stopped development (for now), so no worries requesting it here.

I don't fully understand, you want to add a single icon or a flag icon per language? In both cases please check the HTML code in chef.html

[2018-10-19 11:08] aparcar commented on #64
Looks like `wpad-mini` was renamed to `wpad-mini`?

[code]
I'm on it!

[2018-10-19 16:55] Roland-B commented on #64
Like a car bonnet!! :) Brilliant, thanks v much bud.

This is the only thing i can find relating to this lately...
https://github.com/openwrt/openwrt/commit/80c61c161ac5943137ade233d62cf89d746de5a2#diff-537f70c94a22713f365b47c7efe9ff0e

hopefully this helps?

Have tried removing wpad-mini from the package list when building a snapshot and it does complile and used wpad-basic, but get a warning the

[2018-10-21 18:17] Fibula1 opened #66 "There is 'lime_mini' but no 'lime_default' for the mt7628 for my GL-Inet GL-MT300N V2 's"
Hi all, There is 'lime_mini' but nothing under 'lime_default' for the mt7628 . I have a few GL-Inet GL-MT300N V2 and the mini wont let me change the password or give access to any setup menus so i'd like to try the 'lime_default' . Id love to get a mesh up and kicking on my units.
The GL-Inet GL-MT300N V2 is not available in the chef builder or developer chef builder page. Maybe one of you kind fo

[2018-10-22 11:11] aparcar commented on #66
The router should have enough storage to handle the default build as well. I'll look into that later why chef fails to show and build the firmware

[2018-10-24 16:59] mwarning commented on #32
ok, we finally had out 1.0.0 release. Let's see what needs to be done. :-)
@aparcar is the structure for the images? We have them all in one folder.

[2018-10-24 17:09] aparcar commented on #32
I need the image builder in the previously mentioned structure for all targets you'd like to support

[2018-10-25 18:43] Fibula1 commented on #66
Hi Aparcar, any more thoughts? Thx

[2018-10-26 19:47] mwarning commented on #32
Would this do? http://firmware.freifunk-bielefeld.de/freifunk/firmware/1.0.0/targets/

[2018-10-27 07:13] aparcar commented on #32
Perfekt!

[2018-10-29 16:00] patogit opened #67 "translations repo out of sync"
when I create a new pull request for new translation commits, GitHub tries to pull in all the commits ever made in the translation repo, instead of just the new commits. I don't know if rebasing is the appropriate action. Please suggest how we can fix this. @aparcar and @gmarcos87 maybe you have ideas.

[2018-10-29 16:13] patogit commented on #67
maybe this, on my computer:
1. cd ~/Documents/GitHub-translation-bridge
2. sudo rm -r chef
3. git clone https://github.com/translation-bridge/chef.git
4. cd chef
5. git remote add upstream https://github.com/libremesh/chef.git
6. git status (to make sure I'm on master branch)
7. git fetch upstream
8. git rebase upstream/master
9. git push origin

Would that work? Or would it erase the recent Oct 2

[2018-10-30 14:34] aparcar commented on #32
@mwarning actually sorry, the structure is not perfect yet. The [meta-imagebuilder](https://github.com/aparcar/meta-imagebuilder/) validates downloaded imagebuilders via checksums and [gpg](https://github.com/aparcar/meta-imagebuilder/blob/master/meta#L64). I could disable it specifically for FF Bielefeld, but a nicer solution would be you sign the created imagebuilders as well

[2018-10-30 17:35] mwarning commented on #32
hm, what do I have to do? What gpg key has to be used?

[2018-10-30 17:46] aparcar commented on #32
Nevermind, I'll use https and adapt the meta imagebuilder :)

[2018-10-30 18:03] mwarning commented on #32
Fine with lazy myself. :D

[2018-11-08 03:21] kleper opened #68 "Using Chef RedINC Community Image"
When I try to generate a Libremesh image of the REDINC community I have the following error:
Unknown package in request: zz-redinc-comunitaria-hacklime

Y no permite generar la imagen.
Cuando hago la compilación manual usando el SDK no tengo problemas.

[2018-11-21 18:23] Roland-B commented on #64
Any progress? Looking forward to being able to gen snapshots again..

[2018-11-28 00:19] Camis opened #69 "Snapshot@WR741N - manifest_fail"
https://i.imgur.com/QTlgkh1.png

https://as-test.stephen304.com/download/faillogs/faillog-30fb9ac123ef.txt

[2018-11-28 06:57] markbirss opened #70 "Cannot build any LibreMesh firmware for version 17.06 and up"
17.06 - Unknown package in request: kmod-ipt-offload
18.06.1 - Unknown package in request: libremesh-default
18.06.1-dev - Unknown package in request: libremesh-default

[2018-11-28 11:25] ilario commented on #70
If you can, please link the complete log.

[2018-11-28 12:26] markbirss commented on #70
It not get to the log step, wont build

On Wed, Nov 28, 2018 at 1:25 PM Ilario Gelmetti <notifications@github.com>
wrote:

[2018-11-28 13:55] ilario commented on #70
I suppose you're using the development Chef server?
Maybe @aparcar can comment?
I just tried the stable Chef on https://chef.libremesh.org and it works well.

[2018-11-28 15:31] markbirss commented on #70
Yes issue is with beta chef.  Original chef only builds libremesh up to
version  17.06 not anything with more recent openwrt base

On Wed, 28 Nov 2018, 15:55 Ilario Gelmetti <notifications@github.com wrote:

[2018-12-11 15:58] aparcar commented on #70
@markbirss please try again now, some recent changed should fix it. Version 18.06-dev should work

[2018-12-11 16:29] aparcar commented on #69
The issue should be fixed via https://github.com/aparcar/meta-imagebuilder/commit/c9187e5ec547bc0b25a01a095aa957e4afc8ff2e#diff-e9a23cbc455158951716b440c3d165e0R77
Please try again and close the issue if it works now

[2018-12-11 19:21] markbirss commented on #70
Hi Paul

Thank you for your reply, the build starts, however the following error
with LibreMesh version

*18.06.1*
*https://as-test.stephen304.com/download/faillogs/faillog-cc996b3d1037.txt
<https://as-test.stephen304.com/download/faillogs/faillog-cc996b3d1037.txt>*

Collected errors:
 * check_data_file_clashes: Package libremesh-default wants to install
file /mnt/worker/worker2/imagebuilder/lime/

[2018-12-11 22:49] aparcar commented on #70
Try 18.06.1-dev

[2018-12-12 08:20] markbirss commented on #70
Hi

The page at

https://chef.libremesh.org/

has error

not allow to choose Distribution at all the list of options is currently
empty ?

Regards

On Wed, Dec 12, 2018 at 12:49 AM Paul Spooren <notifications@github.com>
wrote:

[2018-12-12 08:52] aparcar commented on #70
Sorry the server was down for the last hours

[2018-12-12 16:14] aparcar commented on #67
Hey @patogit I merged the translation myself, should work now.

[2018-12-12 16:14] #67 closed, assigned to nobody

[2018-12-12 16:15] aparcar commented on #64
@Roland-B please try again

[2018-12-12 16:24] aparcar commented on #68
@kleper sorry for the slow response, please try again.

[2018-12-12 18:25] Roland-B commented on #64
Oikidoke, will do, thanks.

Server showing as down at mo, will update you when I can :)

[2018-12-12 18:27] Roland-B commented on #65
Already reported here by myself.. maybe I should have put WRT32X in title. doh!

https://github.com/libremesh/chef/issues/64

[2018-12-12 19:22] kleper commented on #68
Thanks, I already probe and it does not take error when I select the profile of the project but I do not know if the image that is generated if it has the configurations, I am going to test the images and I write.

[2018-12-13 05:50] Fibula1 commented on #66
Hi Aparcar, any more thoughts? Thx  (ps i havent tried chef-builder again)

[2018-12-13 18:23] Roland-B commented on #64
Thanks @aparcar :) It now builds but states the image is "unstable". Am I safe to use this? I guess it is being flagged as unstable because its expecting the image to contain wpad-mini and not wpad-basic as part of the checks it makes after compiling?

[2018-12-14 13:09] FreifunkUFO commented on #30
yes, that would lead to build individual images for each device. that should be on scope of the image builder.
meanwhile, i saw an option "edit uci defaults" on a beta-chef-instance. so this feature is now on preparation?

[2018-12-14 13:23] FreifunkUFO commented on #29
@CodeFetch i have to correct you: freifunk and libremesh are almost the same. (zero-config community mesh networks)

this ticket is about finding a preset/config to make gluon-compatible libremesh-nodes,
f.i. to set up a libremesh-node within a gluon-network, which could have a dhcp-server onboard.
or f.i. to have gluon-nodes within a libremesh-network to expand the mesh (only by batman-adv).

p.s

[2018-12-14 13:39] FreifunkUFO opened #71 "Add INSTALL documentation"
please provide documentation howto install and host such a system.

i think, at least there is a need for changing the "server" in https://github.com/libremesh/chef/blob/master/chef.html#L11 (when having an own one)

corresponding ticket for the attendedsysupgrade-server (also needed) is https://github.com/aparcar/attendedsysupgrade-server/issues/135

[2018-12-14 14:41] CodeFetch commented on #29
@FreifunkUFO Gluon is the SDK (although a minimal one). A community-independent Gluon firmware that could be built with chef will likely never happen as that is against the decentralization idea of Freifunk and in general Gluon is a framework for building mesh firmware, not a firmware by itself. Gluon communities are not forced to build their firmware on their own, but they want to build their fir

[2018-12-17 15:53] Camis opened #72 "How to chef image with "wpad" instead of "wpad-mini""
I delete in "Edit Pacakges", "wpad-mini", and add "wpad" but i always got a error:

[code]

https://as-test.stephen304.com/download/faillogs/faillog-da5dc5d35a31.txt

[2018-12-19 13:58] aparcar commented on #71
The installation is pretty straight forward, just put the files somewhere on a server and point a web server to open the `chef.html` file. For further *settings* please see [this line](https://github.com/libremesh/chef/blob/master/chef.html#L11). Basically you just have to set a working backend.

[2018-12-21 14:08] v4l3r10 commented on #70
Hi,

i'm trying to build an image but something not work:
https://as-test.stephen304.com/download/faillogs/faillog-3e8df0220a67.txt

Collected errors:
 * satisfy_dependencies_for: Cannot satisfy the following dependencies for lime-full:
 * 	lime-basic * 	luci-app-lime-location *
 * opkg_install_cmd: Cannot install package lime-full.

[2018-12-21 18:14] aparcar commented on #70
Please try again. snapshots.libremesh.org was down and therefore some packages missing. Should work again

[2018-12-22 19:07] Suxsem commented on #72
just press "edit packages" and add the following lines:
[code]

[2019-01-03 19:18] Drdoomblunt opened #73 "You're not moving forward in queue for a long time"
Have been trying to make a slimmer firmware for the wr940n v6, using OpenWRT 18.0.6.1

I have tried on 3 occasions, after reboots and with seperate browsers to try eliminating any issues my end.

I am trying to build a web interface version with the following packages:

base-files
busybox
dnsmasq
dropbear
firewall
fstools
iptables
kmod-ath9k
kmod-gpio-button-hotplug
libc
libgcc
logd
luci
luci-app-

[2019-01-03 20:08] DittelHome commented on #73
Same here:
You're not moving forward in queue for a long time, please report this
You are in the build queue. Position: 110

[2019-01-03 22:33] Drdoomblunt commented on #73
I am now 116 when trying again. Yesterday I was 85, 97 and 104 on previous attempts . Is the build queue itself stuck on something?

[2019-01-08 18:10] #73 closed, assigned to nobody

[2019-01-08 18:10] Drdoomblunt commented on #73
See https://github.com/aparcar/attendedsysupgrade-server/issues/136, build queue now working.

[2019-01-11 15:11] FreifunkUFO commented on #70
Where is a beta-chef or even another chef (which is not chef.libremesh.org)?

[2019-01-11 15:15] FreifunkUFO commented on #71
ok, "this line" on chef.html was already linked in my ticket/issue-description.

atm, the problem is setting up the attendedsysupgrade-server on the same/ or another host..

see also https://github.com/aparcar/attendedsysupgrade-server/issues/138 (and 135)

[2019-01-11 15:56] aparcar commented on #71
So let's keep the discussion in one issue. If setting up Chef (without the backend) isn't the problem please close this issue...

[2019-01-11 15:57] aparcar commented on #30
Yes, feel free to try it. Individual images are deleted within 7 days and "hidden", so nobody with exactly the same configuration can download you image

[2019-01-11 15:58] aparcar commented on #70
@FreifunkUFO for now there is only chef.libremesh.org. It kinda never left beta :)

[2019-01-11 16:06] #72 closed, assigned to nobody

[2019-01-11 16:21] FreifunkUFO commented on #70
ok, best would be to have three systems: stable, testing and development
please provide URLs for these.. where can i build libremesh with openwrt 18.xx ?

[2019-01-15 16:28] FreifunkUFO commented on #30
is there any documentation about that new (?) feature?

here is an example for meshwizard-configured nodes (a.k.a. freifunk-meshkit firmware)

root@120-24:~# cat /rom/etc/config/meshwizard
config system 'system'
	option hostname '120-30'
	option conloglevel '8'
	option cronloglevel '9'
	option latitude '51.33348'
	option longitude '12.40297'
	option location ''

config public 'community'
	option n

[2019-01-16 11:18] aparcar commented on #30
the following could do the trick. On first boot, the file should be created, followed by a reboot causing meshwizard to (re)load the config. I don't know how meshwizard works, however, based on the example below, it is possible to create files via Chef.

[code]

[2019-01-16 13:00] leocruz0 opened #74 "chef libremesh raspberry pi 3"
Hi folks. I am having a problem to download the image for my raspberry pi 3 on chief. that is the error log:

Downloading http://downloads.openwrt.org/releases/18.06.1/targets/brcm2708/bcm2709/packages/Packages.gz
Updated list of available packages in /mnt/worker/worker2/imagebuilder/lime/testing/brcm2708/bcm2709/build_dir/target-arm_cortex-a7+neon-vfpv4_musl_eabi/root-brcm2708/../../../../../../.

[2019-01-16 16:22] FreifunkUFO commented on #70
ok, there are some changes in https://github.com/aparcar/attendedsysupgrade-server/tree/master/distributions/lime so there is now a libremesh with openwrt-18.xx

i wonder about reading "17.xx" in  https://github.com/aparcar/attendedsysupgrade-server/blob/master/distributions/lime/testing.yml#L14 (on libremap and limeui repo, but maybe both are outdated anyway?)

[2019-01-17 11:25] aparcar commented on #70
@FreifunkUFO I'm afraid both are legacy, maybe @p4u can say something about that as he setup the repo

[2019-01-17 12:31] markbirss commented on #70
I have since instead been building my own firmware completely from source,
as i have also some devices which don't show up on chef.libremesh.org

like Cisco Meraki MR24 and others

Regards

On Thu, Jan 17, 2019 at 1:25 PM Paul Spooren <notifications@github.com>
wrote:

[2019-01-17 13:11] aparcar commented on #70
you can find here a list of active targets, if you want more, please create a PR
https://github.com/aparcar/attendedsysupgrade-server/blob/master/distributions/lime/distro_config.yml#L9

[2019-01-21 15:02] FreifunkUFO commented on #30
ok thank you for explanation

i didnt found docu, but the file which will be created: /etc/uci-defaults/99-server-defaults
i doubt using the reboot-command at this moment. (see https://openwrt.org/docs/guide-developer/uci-defaults )

the pull-request is here https://github.com/aparcar/attendedsysupgrade-server/pull/115/files

[2019-01-21 15:10] FreifunkUFO commented on #30
i think there is no need for the first two lines. (/bin/sh)

f.i. on freifunk-nodes i see small scripts like:
cat /rom/etc/uci-defaults/freifunk
uci set uhttpd.main.rfc1918_filter=0
uci commit uhttpd

[2019-01-21 15:19] FreifunkUFO commented on #71
chef without attendedsysupgrade-server isnt that useful.
please add some information about attendedsysupgrade-server on the chef-github. (not only that existing one small phrase).

other INSTALL problem might be: there is only a chef.html but no index.html .. how is it realized to run https://chef.libremesh.org/ without the chef.html?

[2019-01-21 15:22] ilario commented on #71
Related: libremesh/lime-packages#325

[2019-01-21 19:12] aparcar commented on #71
https://github.com/libremesh/chef/commit/fd696e52f7be5ee13bdb9d0e02e13105c8149581

[2019-01-21 19:12] #71 closed, assigned to nobody

[2019-01-21 19:13] #70 closed, assigned to aparcar

[2019-01-21 19:13] aparcar commented on #68
If the issue still exists, please reopen

[2019-01-21 19:13] #68 closed, assigned to nobody

[2019-01-21 19:14] aparcar commented on #63
I don't know when, but I think the issue was fixed some time ago

[2019-01-21 19:14] #63 closed, assigned to aparcar

[2019-01-21 19:15] aparcar commented on #64
@Roland-B the unstable is added as you're using a snapshot. These are nightly builds with may fail to start or work at all. Therefore don't use them if you depend on them. It is not related to the package selection itself.

[2019-01-21 19:15] #64 closed, assigned to aparcar

[2019-01-21 19:15] aparcar commented on #69
Please reopen if the error still exists.

[2019-01-21 19:15] #69 closed, assigned to aparcar

[2019-01-21 19:19] aparcar commented on #65
Seems to build just fine now, please see yourself https://chef.aparcar.org/#8c93b91e126750e

Please post urls to build logs, instead of the build log itself

[2019-01-21 19:19] #65 closed, assigned to nobody

[2019-01-31 16:32] FreifunkUFO opened #75 "link to factory.bin image missing"
when baking firmware there is only a link to sysupgrade-bin, but i miss the factory-bin.
see also https://github.com/libremesh/chef/issues/3

[2019-01-31 18:32] DittelHome opened #76 "cannot select netgear ex3700/3800 with openwrt 18.06.02"
Hi,
cannot select netgear ex3700/3800 with openwrt 18.06.02.
Using 18.06.01 there is no problem

regards klaus

[2019-01-31 21:20] aparcar commented on #76
Hey, thanks for reporting, when added the new version not all targets where compiled yet. The worker is currently updating and it should be available in a matter of minutes.

[2019-01-31 21:43] aparcar commented on #75
should be fixed via https://github.com/aparcar/attendedsysupgrade-server/commit/8597b744b9d90906248281172300076dcb13b46a and https://github.com/libremesh/chef/commit/bbda127c0d0a8f24cce84d870f33db812494c6e0

[2019-01-31 21:43] #75 closed, assigned to nobody

[2019-01-31 22:21] FreifunkUFO opened #77 "clients should decide on their own if they want https or http"
where is the according enhancement-ticket?
https://github.com/aparcar/attendedsysupgrade-server/commit/8597b744b9d90906248281172300076dcb13b46a

nice feature, but not working atm. i cant download libremesh-images on a libremesh-node, there is a need for installing f.i. curl first.
please setup the chef.libremesh.org website to serve http. atm there is only a redirection to https, which fails on ht

[2019-01-31 22:22] FreifunkUFO commented on #75
thanks.
see https://github.com/libremesh/chef/issues/77 to fix your new feature

[2019-01-31 22:30] FreifunkUFO opened #78 "having an index.html file or rename chef.html"
there should be a standard-index page, perhaps index.html, because normally this project will be running in an subdir or a subdomain (so also a subdir on a server)

on https://github.com/libremesh/chef/issues/71 there was written:

but that "pointing a web server to open the chef.html" would mean the need for editing webserver-config. i think there is no reason for that, no need to have an chef.ht

[2019-01-31 23:05] aparcar commented on #78
okay

[2019-01-31 23:59] aparcar commented on #78
fixed via https://github.com/libremesh/chef/commit/c6d32316941d6a248fd8ce477a7b745e0fd78105

[2019-01-31 23:59] #78 closed, assigned to nobody

[2019-02-01 00:00] aparcar commented on #77
Thanks, the certbot somewhat screwed the nginx file and left the redirect even after disabling it.

[2019-02-01 00:00] #77 closed, assigned to aparcar

[2019-02-01 00:10] aparcar commented on #74
Should be fixed via https://github.com/libremesh/lime-packages/pull/462

[2019-02-01 07:53] wifilogo opened #79 "OM2P/OM5P-AC sysupgrade.bin or factory.bin image missing"
Hi!
I'm trying to generate two images for OM2P and OM5P-AC (OpenWrt 18.06.1 with web interface) but not sysupgrade.bin or factory.bin images are generated.

`
Installed packages (93)
Created files (9)

    buildlog-73adf15b6e756bf.txt
    openwrt-18.06.1-d533f9491319950-ar71xx-generic-device-om5pac.manifest
    openwrt-18.06.1-d533f9491319950-ar71xx-generic-root.squashfs
    openwrt-18.06.1-d533f9

[2019-02-01 09:09] aparcar commented on #79
could you try to build the image locally? with success?
I trier 17.02, 18.06.{0,1,2} and snapshots, but it's never created.

[2019-02-01 09:29] aparcar commented on #76
https://chef.libremesh.org/#30d0015605225e4

[2019-02-01 09:29] #76 closed, assigned to nobody

[2019-02-01 10:44] wifilogo commented on #79
Yes. I compile the image correctly with local Image Builder.

`
ls -l /home/ib_ar71xx/bin/targets/ar71xx/generic
total 45232
-rw-r--r-- 1 root root    3362 Dec 30 13:05 openwrt-18.06.1-ar71xx-generic-device-gl-ar300m.manifest
-rw-r--r-- 1 root root    3380 Dec 25 21:15 openwrt-18.06.1-ar71xx-generic-device-om2p.manifest
-rw-r--r-- 1 root root    3465 Feb  1 11:35 openwrt-18.06.1-ar71xx-generic-dev

[2019-02-01 11:45] aparcar commented on #74
works now https://chef.libremesh.org/#bf2c479309cbf44

[2019-02-01 11:45] #74 closed, assigned to nobody

[2019-02-01 12:05] aparcar commented on #79
Hey the problem is the usage of BIN_DIR, which is done by the server. I reported this problem upstream, they have to fix it...

[2019-02-01 12:08] aparcar commented on #66
Hi @Fibula1 sorry for the late reponse. The stuff from repo.libremesh.org is not really related to chef, I'm not managing these. However which Chef you can create any image you like, see [here](https://chef.libremesh.org/#62fc8cc00fe953b)

You can choose from some pre defined LibreMesh flavors or customize it yourself.

Please close this issue if it works for you.

[2019-02-01 12:09] aparcar commented on #79
http://lists.infradead.org/pipermail/openwrt-devel/2019-February/015678.html

[2019-02-12 00:39] aparcar commented on #79
fix comes to snapshots soon https://github.com/openwrt/openwrt/pull/1815

[2019-02-16 20:38] h00man opened #80 "chef.libremesh.org fails giving errors"
Hello, if I'm not mistaken, it seems like chef is cooking problems

-----------------------------------
Updated list of available packages in
/home/aparcar/worker/imagebuilder/lime/testing/ar71xx/generic/build_dir/target-mips_24kc_musl/root-ar71xx/../../../../../../../../../../../home/aparcar/worker/imagebuilder/lime/testing/ar71xx/generic/dl/lm_profiles
Collected errors:
 * satisfy_dependencies_f

[2019-02-16 20:45] aparcar commented on #80
@p4u you reported the same issue right?

[2019-02-16 20:55] aparcar commented on #80
Fixed via https://github.com/libremesh/lime-packages/pull/471

[2019-02-28 21:22] vip9 opened #81 "Save Device Model/Packages"
This option would allow to save device model and list of custom packages to localStorage, for faster setting up building.

[2019-02-28 22:09] aparcar commented on #81
could you create a PR? I never touched local storage...

[2019-03-01 20:34] vip9 commented on #81
Could you please look at https://github.com/vip9/chef ?
For now, I am not familiar with API (because of limitation of searching full target) nor github PR-s's.

[2019-03-02 16:22] aparcar commented on #81
https://betachef.libremesh.org/ please try here

[2019-03-02 19:10] vip9 commented on #81
Great!

[2019-03-02 19:48] aparcar commented on #81
please test it and optimize the code if you like. I'll merge it once stable

[2019-03-06 09:26] sokoow opened #82 "I think I broke zyxel builds.."
Hey, I tried to build zyxel 2812 F3 couple of times and now I'm only getting this: https://chef.libremesh.org/download/faillogs/faillog-b88de8aa7419.txt

[code]

it stopped being nice to me - help ? :D

[2019-03-06 09:32] aparcar commented on #82
Should be fixed via https://github.com/aparcar/meta-imagebuilder/commit/d4251ecac38ac7fa448233073aaa3f44cee42260

[2019-03-06 15:45] sokoow commented on #82
Cool, that is working now, but some builds started throwing me ```Failed to load resource: the server responded with a status of 409 (CONFLICT)```

[2019-03-09 15:19] aparcar opened #83 "fixup screenshot"

[2019-03-09 15:19] aparcar commented on #83
![image](https://user-images.githubusercontent.com/16000931/54073419-21681c00-4287-11e9-8592-3648431f1b41.png)

[2019-03-10 22:17] vip9 commented on #81
Still not merged? It looks fine.

[2019-03-10 22:18] #81 closed, assigned to nobody

[2019-03-11 23:27] #83 closed, assigned to nobody

[2019-03-11 23:28] aparcar commented on #82
Means that packages are in conflict, like `odhcpd-ipv6only` and `odhcpd`. Check the buildlog to see what went wrong.

[2019-03-11 23:28] #79 closed, assigned to aparcar

[2019-03-11 23:29] #80 closed, assigned to aparcar

[2019-03-11 23:29] #66 closed, assigned to nobody

[2019-03-11 23:30] aparcar commented on #30
@FreifunkUFO whats missing here?

[2019-03-11 23:30] aparcar commented on #24
Can Iclose this?

[2019-03-23 22:36] patogit commented on #54
[this is the image I want to add](https://nube.altermundi.net/index.php/s/Q6LAQGkPrL3xaGG). I want it to appear to the left of the language selector menu, so I'm guessing there are two steps: put the image file in the repo, and then add a line after line 16 in chef.html that puts the image in the correct place with the correct alignment. (edit: since line numbers change in different branches: the

[2019-03-25 18:05] patogit commented on #54
What's the development branch? In other words, if I make the change required and make a pull request, what branch shall I send the request to?

[2019-03-25 19:13] aparcar commented on #54
always master

[2019-06-23 00:07] ghbjklhv opened #84 "[Feature] Support LibreCMC"
**Feature**: Support [LibreCMC](https://www.wikipedia.org/wiki/LibreCMC)
**Why?**: LibreCMC is the most popular router operating system for free software devices, especially RYF certified devices. I think if LibreMesh could be compiled with LibeCMC it would make is significantly easier for free software projects to support LibreMesh.
**How?**: LibreCMC is actually very similar to OpenWRT. My under

[2019-06-23 10:12] ilario commented on #84
That's interesting but we would need to know more details about "very similar"/the small differences.
Do you have some list of differences?
For sure some modifications to lime-packages repository will be required.
On a first look seems that LibreCMC also uses UCI, and this is good.

[2019-06-23 16:22] aparcar commented on #84
It looks like a rebranding of OpenWrt, I did not find a description point out the difference. Feel free to create a PR. ImageBuilders are required for support.

[2019-06-24 03:51] ghbjklhv commented on #84
@ilario I'm unaware of such a list.

The key difference is that LibreCMC uses [`linux-libre`](https://gogs.librecmc.org/libreCMC/linux-libre) and [`linux-deblob`](https://gogs.librecmc.org/libreCMC/linux-deblob) scripts.
My understanding is that OpenWRT uses vanilla Linux.

Their source code is published here: https://gogs.librecmc.org/libreCMC/libreCMC

According to their FAQ:

You may also be in

[2019-06-25 10:20] aparcar commented on #84
I'll look into that next week

[2019-07-02 20:04] aparcar commented on #84
@ghbjklhv could you ask the developer to work more closely together with upstream OpenWrt? Would be interesting to apply his kernel patchset etc to the currently running OpenWrt stack.

As a base, ImageBuilders are required to use Chef, without that, support is currently a no go.

[2019-08-17 00:56] #82 closed, assigned to nobody

[2019-11-30 17:29] chancat87 opened #85 "help!"
Is the project still running? Why can't I open each of your websites?

![20191201012847](https://user-images.githubusercontent.com/25543219/69903870-42a30680-13da-11ea-9e8e-6df7dc63484a.jpeg)

[2019-11-30 18:26] aparcar commented on #85
Yes i got multiple requests for a new setup already. I'll try to fix it within the next week

[2019-12-01 09:17] chancat87 commented on #85
Thank you for reply.

[2020-03-09 04:00] TLCary opened #86 "Lost the ability to remove packages from the default set."
Customize text box with LuCi...  and that's it.  So I can add packages but the benefit in this would be the ability to remove unwanted packages to save space and Taylor a custom firmware.  After clicking Rebuild Request it comes back to let you download a Factory or SysUpgrade.   I've seen screen shots of a textbook became available to select packages, but it doesn't come up.  I've also seen scree

[2020-03-09 18:14] aparcar commented on #86
Hi, the current Chef is no longer supported as I'm to bad at JavaScript. If anyone want to help out I'm more than happy to collaborate!

There came up a different version called [YAFS](https://github.com/mwarning/yet_another_firmware_selector) which supports about the same features, you might saw it already as it"s currently running at https://chef.libremesh.org.

To remove package add a `-` in fr

[2020-03-09 18:15] aparcar commented on #85
Uh oh sorry for the slow response! Please check the new front end at chef.libremesh.org/

[2020-03-10 01:50] TLCary commented on #86
That will work.  Didn't realize that chef.libremesh.org was running a different version. Thanks for the heads up.  Appreciate the help.

[2020-03-10 01:50] #86 closed, assigned to nobody

[2020-06-08 23:01] FreifunkUFO commented on #85
error
`AssertionError: Wrong ImageBuilder archive checksum`
on that web-page
linked to a new try of project
https://github.com/mwarning/yet_another_firmware_selector

[2020-12-03 10:57] sokoow opened #87 "TL-WDR4300-v1 builds seem to be failing"
Hi All,

I tried to build a custom for TL-WDR4300-v1 and it's failing currently:

[code]

anyone can look at that ?

[2021-01-25 22:57] agusalex commented on #87
Same here for wdr-4300

[2021-01-26 13:58] ilario commented on #87
Ah hem, did this happen using Chef?
I think Chef is currently abandoned, is this right @aparcar? In this case, can we write this in the readme of the repository?

Currently, the only supported way to obtain the latest LibreMesh image is to compile it locally following these instructions:
https://libremesh.org/development.html

Sorry for that :/

Please try again with the supported compilation meth

[2021-03-09 11:05] Nikerabbit commented on #37
In fact, this cannot be properly translated to any language currently, because trailing whitespace is not supported in translatewiki.net.

[2021-03-09 11:06] Nikerabbit opened #88 "Languages missing from language selector"
The language selector in https://chef.libremesh.org/ is missing many languages present in https://github.com/translation-bridge/chef/tree/master/i18n. Why is this?

[2021-03-09 12:20] ilario commented on #88
@patogit

[2021-03-14 22:27] aparcar commented on #88
What you see on the Chef domains is actually https://gitlab.com/openwrt/web/firmware-selector-openwrt-org

Chef is no longer developed. @mwarning coordinates the new web interface and the files to translate are found [here](https://gitlab.com/openwrt/web/firmware-selector-openwrt-org/-/blob/master/www/i18n.js)

[2021-03-14 22:27] #88 closed, assigned to nobody

[2021-03-14 22:28] aparcar commented on #85
Please open ASU specific issues here: https://github.com/aparcar/asu/
Please open interface specific issues here: https://gitlab.com/openwrt/web/firmware-selector-openwrt-org

Chef is no longer developed.

[2021-03-14 22:28] #85 closed, assigned to aparcar

[2021-03-14 22:29] aparcar commented on #87
The interface at chef.libremesh.org supports lime-packages, just enter whatever package combination you want to use there.

Please open ASU specific issues here: https://github.com/aparcar/asu/
Please open interface specific issues here: https://gitlab.com/openwrt/web/firmware-selector-openwrt-org

Chef is no longer developed.

[2021-03-14 22:29] #87 closed, assigned to nobody

[2021-03-14 22:29] aparcar commented on #24
Please open ASU specific issues here: https://github.com/aparcar/asu/
Please open interface specific issues here: https://gitlab.com/openwrt/web/firmware-selector-openwrt-org

Chef is no longer developed.

[2021-03-14 22:29] #24 closed, assigned to nobody

[2021-03-14 22:30] aparcar commented on #30
Please open ASU specific issues here: https://github.com/aparcar/asu/
Please open interface specific issues here: https://gitlab.com/openwrt/web/firmware-selector-openwrt-org

Chef is no longer developed.

[2021-03-14 22:30] #30 closed, assigned to nobody

[2021-03-14 22:30] aparcar commented on #32
Please open ASU specific issues here: https://github.com/aparcar/asu/
Please open interface specific issues here: https://gitlab.com/openwrt/web/firmware-selector-openwrt-org

Chef is no longer developed.

[2021-03-14 22:30] #32 closed, assigned to nobody

[2021-03-14 22:30] aparcar commented on #31
Please open ASU specific issues here: https://github.com/aparcar/asu/
Please open interface specific issues here: https://gitlab.com/openwrt/web/firmware-selector-openwrt-org

Chef is no longer developed.

[2021-03-14 22:30] #31 closed, assigned to nobody

[2021-03-14 22:30] aparcar commented on #29
Please open ASU specific issues here: https://github.com/aparcar/asu/
Please open interface specific issues here: https://gitlab.com/openwrt/web/firmware-selector-openwrt-org

Chef is no longer developed.

[2021-03-14 22:30] #29 closed, assigned to nobody

[2021-03-14 22:31] aparcar commented on #54
We got some icons for the language selector in the new interface.

Please open ASU specific issues here: https://github.com/aparcar/asu/
Please open interface specific issues here: https://gitlab.com/openwrt/web/firmware-selector-openwrt-org

Chef is no longer developed.

[2021-03-14 22:31] #54 closed, assigned to nobody

[2021-03-14 22:31] aparcar commented on #84
Closing due to lack of response.

Please open ASU specific issues here: https://github.com/aparcar/asu/
Please open interface specific issues here: https://gitlab.com/openwrt/web/firmware-selector-openwrt-org

Chef is no longer developed.

[2021-03-14 22:31] #84 closed, assigned to nobody

[2021-03-14 22:31] aparcar commented on #37
The new interface uses different strings.

Please open ASU specific issues here: https://github.com/aparcar/asu/
Please open interface specific issues here: https://gitlab.com/openwrt/web/firmware-selector-openwrt-org

Chef is no longer developed.

[2021-03-14 22:31] #37 closed, assigned to nobody